[submodule "pyyaml"]
	path = pyyaml
	url = http://github.com/yaml/pyyaml.git
    ignore = dirty
[submodule "jenkinsapi"]
	path = jenkinsapi
	url = http://github.com/salimfadhley/jenkinsapi
[submodule "clik"]
	path = clik
	url = https://github.com/jds/clik.git
